slideshow-component {
  position: relative;
  display: block;
  height: 100vh;
}
@keyframes header-fade-in {
  from {
    transform: translateX(-500%);
  }
  to {
    transform: translateX(0%);
  }
}
@keyframes header-fade-in-phone-wrapper {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(0.5);
  }
}
@keyframes header-fade-in-phone {
  from {
    transform: translateX(-400%);
    
   /* transform: matrix3d(0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0);
   */
  }
  to {
    /*transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);*/

    transform: translateX(0%);
  }
}
@keyframes header-right-side-fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
#big-z{
  animation: header-fade-in 1.3s ease-in-out forwards ; 

}
#big-x{
  animation: header-fade-in 1.15s ease-in-out forwards ; 
  
}
#big-c{
  animation: header-fade-in 1s ease-in-out forwards ; 
}


.slideshow-main-text-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 70vw;
  position: absolute;
  top: 10%;
  z-index: 3;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  overflow: hidden;
  text-align: center;
  /*use the slideshow image as a background*/
}
.slideshow-main-text-container h1{
font-size: 20rem;
font-weight: bold;
color: #fff;
text-shadow: 0 0 10px rgba(0, 0, 0, 0.452);
padding: 0;
margin: 0;
margin-bottom: -5rem;
user-select: none;
}


.slideshow-main-text-container svg {
  filter: opacity(80%);
  /* invert the colors of the text */
  -webkit-filter: invert(0%);
}
h4, h2 {
  font-size: 2.4rem;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.452);
}
.slogan-text-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
  width: 100%;
  text-align: left;
}

.slogan-text-in-h2 {
  font-weight: bold;
  padding: 0rem 1rem;
}
.slideshow-main-button-container .slogan-text {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.slideshow-main-button-container {
  opacity: 0;
  animation: header-right-side-fade-in 2s 1.3s ease-out forwards ; 
  max-width: 30vw;
  min-width: 50rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  /* create a text shadow */
}

@media screen and (max-width: 920px) {
  .slideshow-main-text-container {
    width: 100%;
    padding: 0rem 1rem;
  }

  h4, h2 {
    font-size: 2rem;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.452);
  }
}
@media screen and (max-width: 650px) {
  .slogan-text-wrapper {
    text-align: center;
    justify-content: center;
    align-items: center;
  }

  .slideshow-main-text-container h1{
    font-weight: bold;
    color: #fff;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.452);
    padding: 0;
    margin: 0;
    margin-bottom: -5rem;
    user-select: none;

    font-size: 15rem;

    }

  .slideshow-main-text-container {
    width: 100vw;
    padding: 0rem 1rem;
    flex-direction: column;
  }
  .slideshow-main-button-container {
    min-width: 100vw;
    margin-top: 2rem;
    padding: 0rem 2rem;
    animation: header-right-side-fade-in 2s 2s ease-out forwards ; 
    
  }

  .slideshow-main-text-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100vw;
    position: absolute;
    top: 10%;
    z-index: 3;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    overflow: hidden;
    text-align: center;
  
    /*use the slideshow image as a background*/
  }
  .slideshow-main-button-container {
    margin-top: 15rem;
  }
  .slogan-text-in-h2 {
    font-weight: bold;
    padding: 0rem 1rem;
  }

  .slideshow-description {
    font-weight: 100;
    font-size: 1.6rem;

  }

  .header-text-big{
    position: absolute;
    top: 10%;
    display: flex;
    animation: header-fade-in-phone-wrapper 1s 1.5s ease-in-out forwards ; 
  }
  #big-z{
    transform: translateX(-500%);
    animation: header-fade-in-phone 0.9s 0.6s ease-out forwards ; 
  
  }
  #big-x{
    transform: translateX(-500%);
    animation: header-fade-in-phone 0.7s 0.6s ease-out forwards ; 
    
  }
  #big-c{
    transform: translateX(-500%);
    animation: header-fade-in-phone 0.5s 0.6s ease-out forwards ; 
  }
}
@media screen and (max-width: 400px) {
.slogan-text h2, .slogan-text h4 {
    font-size: calc(4vw + .2rem);
  }


}
.slideshow-button-inner-container{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}
.slideshow-main-button-container .slideshow-button-inner-container a{
  text-decoration: none;
  color: #f3f3f3;
  font-size: 2rem;
  padding: 0.2rem 2rem;
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 1rem;
}
.slideshow-main-button-container  > .slideshow-button-inner-container > .shop{
  color: #ffffff;
  background-color: #070707;
  width: 15rem;
  height: 8rem;
}
.slideshow-main-button-container > .slideshow-button-inner-container > .shop:hover{
  background-color: #ffffff83;
  color: #f3f3f3;
  transition: 200ms;
  border-radius: 2rem 0 2rem 0;
}
.slideshow-main-button-container > .slideshow-button-inner-container > .info{
  border-style: none;
  color: #000000e1;
  background-color: #f3f3f3;
  width: 15rem;
  height: 8rem;
}

.slideshow-main-button-container > .slideshow-button-inner-container > .info:hover{
  color: rgb(255, 255, 255);
  background-color(#f3f3f3, 0.5)
  transition-duration: 200ms;
  border-radius: 0 2rem 0 2rem;
}


.spaced-section--full-width:first-child slideshow-component.page-width {
  margin-top: 5rem;
}

.spaced-section--full-width:last-child slideshow-component.page-width {
  margin-bottom: 5rem;
}

@media screen and (min-width: 750px) {
  .spaced-section--full-width:first-child slideshow-component.page-width {
    margin-top: calc(5rem + var(--page-width-margin));
  }

  .spaced-section--full-width:last-child slideshow-component.page-width {
    margin-bottom: calc(5rem + var(--page-width-margin));
  }
}

@media screen and (max-width: 989px) {
  .no-js slideshow-component .slider {
    padding-bottom: 3rem;
  }
    .slideshow-button-inner-container {
    margin-top: 30%;
  }
}

slideshow-component .slideshow.banner {
  flex-direction: row;
  flex-wrap: nowrap;
  margin: 0;
  height: 95.5vh;

}

.slideshow__slide {
  padding: 0;
  position: relative;
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 749px) {
  .slideshow--placeholder.banner--mobile-bottom.banner--adapt_image .slideshow__media,
  .slideshow--placeholder.banner--adapt_image:not(.banner--mobile-bottom) {
    height: 28rem;
  }
}

@media screen and (min-width: 750px) {
  .slideshow--placeholder.banner--adapt_image {
    height: 56rem;
  }
}

.slideshow__text.banner__box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 54.5rem;
}

.slideshow__text > * {
  max-width: 100%;
}

@media screen and (max-width: 749px) {
  .banner--mobile-bottom .slideshow__text.banner__box {
    max-width: 100%;
  }

  .banner--mobile-bottom .slideshow__text-wrapper {
    flex-grow: 1;
  }

  .banner--mobile-bottom .slideshow__text.banner__box {
    height: 100%;
  }

  .banner--mobile-bottom .slideshow__text .button {
    flex-grow: 0;
  }

  .slideshow__text.slideshow__text-mobile--left {
    align-items: flex-start;
    text-align: left;
  }

  .slideshow__text.slideshow__text-mobile--right {
    align-items: flex-end;
    text-align: right;
  }
}

@media screen and (min-width: 750px) {
  .slideshow__text.slideshow__text--left {
    align-items: flex-start;
    text-align: left;
  }

  .slideshow__text.slideshow__text--right {
    align-items: flex-end;
    text-align: right;
  }
}


.slideshow:not(.banner--mobile-bottom) .slideshow__text-wrapper {
  height: 100%;
}

@media screen and (min-width: 750px) {
  .slideshow__text-wrapper.banner__content {
    height: 100%;
    padding: 5rem;
  }
}

.slideshow__controls {
  /*? gömmer slider controls 
  border: 0.1rem solid rgba(var(--color-foreground), 0.08);
  display: none !important; */
}
.about-our-clothes-text {
  font-size: 2rem;
  position: absolute;
  color: #f3f3f3;
  text-align: center;
}
.spaced-section--full-width:last-child slideshow-component:not(.page-width) .slideshow__controls {
  border-bottom: none;
}

@media screen and (min-width: 750px) {
  .slideshow__controls {
    position: relative;
  }
}

slideshow-component:not(.page-width) .slider-buttons {
  border-right: 0;
  border-left: 0;
}

.slideshow__control-wrapper {
  display: flex;
}

.slideshow__autoplay {
  position: absolute;
  right: 0;
  border-left: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 749px) {
  slideshow-component.page-width .slideshow__autoplay {
    right: 1.5rem;
  }
}

@media screen and (min-width: 750px) {
  .slideshow__autoplay.slider-button {
    position: inherit;
    margin-left: 0.6rem;
    padding: 0 0 0 0.6rem;
    border-left: 0.1rem solid rgba(var(--color-foreground), 0.08);
  display: none !important;

  }
}

.slideshow__autoplay .icon.icon-play,
.slideshow__autoplay .icon.icon-pause {
  display: block;
  position: absolute;
  opacity: 1;
  transform: scale(1);
  transition: transform 150ms ease, opacity 150ms ease;
  width: 0.8rem;
  height: 1.2rem;

}

.slideshow__autoplay .icon.icon-play {
  height: 1rem;

}

.slideshow__autoplay path {
  fill: rgba(var(--color-foreground), 0.75);
}

.slideshow__autoplay:hover path {
  fill: rgb(var(--color-foreground));
}

@media screen and (forced-colors: active) {
  .slideshow__autoplay path,
  .slideshow__autoplay:hover path{
    fill: CanvasText;
  }
}

.slideshow__autoplay:hover svg {
  transform: scale(1.1);
}

.slideshow__autoplay--paused .icon-pause,
.slideshow__autoplay:not(.slideshow__autoplay--paused) .icon-play {
  visibility: hidden;
  opacity: 0;
  transform: scale(.8)
}
